 <!-- <h1>
  welcome to {{title}}
</h1>
<img src="{{imagesrc}}">
<img [src]="imagesrc">
<br>
<input [(ngModel)]="name"/>
<p>{{name}}</p>
<button (click)="onclick()">click</button> 
<br><br> -->
  <!-- <router-outlet></router-outlet> -->
 <!-- <h1> -->
  <!-- welcome to {{title}} -->
<!-- </h1> -->
<!-- <button (click)="onclick()">show</button> -->
<!-- <p>{{str}}</p> -->
<!-- <app-child></app-child>  -->
<!-- <app-parents></app-parents> -->
 <!-- <button (click)="onclick()">show</button>  -->
<!-- <app-parents *ngIf="show" [Name]="name"></app-parents>-->
<!-- <p></p>  -->
<!-- <h1>{{name}}</h1> -->
 <!-- {{Demoservice.count}}  -->
 
 <router-outlet></router-outlet>
 









