 <p>parents works!{{Name}}</p> 
 
<!-- <app-child [Title]="Name"></app-child> -->
<!-- <app-root></app-root> -->

<button mat-raised-button color="primary">Primary</button>
    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <!-- <mat-icon>favorite</mat-icon> -->
      </button> 

<!-- <app-navbar> </app-navbar> -->
<!-- <img style=" width: 100%;height: 100%;" src="../../../../assets/pic.jpeg" alt="" >
<img style=" width: 100%;height: 100%;" src="../../../../assets/pic2.jpeg" alt="" >
<img style=" width: 100%;height: 100%;" src="../../../../assets/pic3.jpeg" alt="" > -->

