<div fxLayout="row" fxLayoutAlign="center"  class="task2">
    <div class="outer_box" fxLayout="row" fxLayout.lt-md="column">
        <div class="Box1">
            <p class="sign">Have an account?<span> <a routerLink="/task1">sign in</a></span></p>
            <div class="welcome" fxLayout="column">
                <P><span class="span">Welcome to AOT</span><br><br>
                    Blandit libero volutpat sed cras ornare<br> arcu dui.
                    Accumsan in nisi scelerisque eu</P><br><br>
                <mat-form-field appearance="outline" floatLabel="always" class="form">
                    <mat-label>Email</mat-label>
                    <input matInput type="mail" placeholder="Example@gmail.com">
                    <span class="symbol" matSuffix>@</span>
                </mat-form-field><br><br>

                <mat-form-field appearance="outline" floatLabel="always" class="form">
                    <mat-label>password</mat-label>
                    <input matInput type="password" placeholder="6+ Strong character">
                    <mat-icon matSuffix >lock</mat-icon>
                </mat-form-field><br><br>

                <button mat-raised-button color="primary">Create an account</button><br><br>
                <div class=signup>
                    <span class="signup1">Or sign up with</span>
                </div><br>
                <div class="img" fxLayoutAlign="row">
                    <button><img src="../../../assets/Chrome.png" alt=""></button>
                    <button><img src="../../../assets/facebook.png" alt=""></button>
                    <button><img src="../../../assets/Apple.png" alt=""></button>
                </div>
            </div>
        </div>
        <div class="Box2" fxLayout="column">
            <div class="format_quote">
                <mat-icon>format_quote</mat-icon>
            </div>
           <p>Make a<br>Dream.</p>
           <div class="line1">
            </div>
            <div class="line2">
            </div>
           <div class="para">
           <p> <q>Lorem ipsum dolor sit amet consectetur<br>adipisicing elit,
                sed do eiusmond tempor<br>incididunt ut labore et dolore magna.</q></p>
           </div>
           <div fxLayoutAlign="center" class="info" fxLayoutGap="-50px">
            <div>
                <img src="/assets/task1.pngew/task1.png" alt="">
           </div>
           <div class="info2">
              <p class="pp">Kowsalya.A<br><span class="in">Product Designer</span></p>
           </div></div>
        </div>
    </div>
</div>